# توكن البوت من https://discord.com/developers/applications
BOT_TOKEN=ضع_التوكن_هنا

# آيدي السيرفر (Guild ID)
GUILD_ID=1527433811540050132

# آيدي روم الانتظار (اللي يجلس فيه المواطنين لين ينسحبون)
WAITING_CHANNEL_ID=1527433812617855000

# آيدي الرتبة الخاصة بالإداريين (اللي تخوله يسحب له مواطن إذا كان لحاله بروم)
ADMIN_ROLE_ID=1529504439042576425

# آيدي رتبة المواطن (بس اللي عندهم هالرتبة يصيرون مؤهلين للسحب)
CITIZEN_ROLE_ID=1529504750003945632

# (اختياري) لو تبي تحصر السحب التلقائي على كاتقوري معينة فيها رومات الإداريين
# سيب فاضي لو ما تبي هذا القيد
ADMIN_CATEGORY_ID=
